[submodule "atmega128/deps/arduino-core"]
	path = atmega128/deps/arduino-core
	url = https://github.com/arduino/ArduinoCore-avr.git
[submodule "pico/pico-sdk"]
	path = pico/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
